// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {font-size: 16px;}
.margin {margin-bottom: 20px;}
.glyphicon{
	margin: 5px;
}
.bg-1 { 
background-color: #ffffff; /* White */
color: #2f2f2f;
}
.bg-2 { 
background-color: #474e5d; /* Dark Blue */
color: #ffffff;
}
.bg-3 { 
background-color: #e5e6eb; /* Gray */
color: #555555;
}
.bg-4 { 
background-color: #2f2f2f; /* Black Gray */
color: #fff;
}
.contents{
	border-radius: 3px;
	margin:5px;
	padding: 5px;
}
.title{
	height:400px;
	background-color: #ffffff;

	padding: 0;
	.background-image{
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		background-image: image-url("title-background.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		height:60%;
		width:100%;
		padding: 0;
		margin: 0;
	}

	h4{
	  position: absolute;
	  left: 250px;
	  top: 250px;
	  font-size: 28px;
	}

	.my-name{
	  height:150px;
	  width: 150px;
	  position: absolute;
	  left: 90px;
	  top: 190px;
  	  border-radius: 3px;
	  border-width: 10px;
	  border-color: white;
	  border-style: solid;
	  background-color: #e5e6eb;
	  p{
	  	font-size: 90px;
	  	margin: auto;
	  	color: white;
	  }
	}
	.email{
	  position: absolute;
	  left: 220px;
	  top: 280px;
	  width: 300px;
	  text-align: left;
	  p{
	  	color:#999999;
	  	font-size: 18px;
	  }
	}
	.telephone{
	  position: absolute;
	  left: 220px;
	  top: 310px;	
	  width: 300px;	
	  text-align: left;
	  p{
	  	color:#999999;
	  	font-size: 18px;
	  }
	}
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.left{
	height: 520px;
	padding-top: 20px;
	.application{
		height: 240px;
		border-style: solid;
		border-radius: 3px;
	  	border-width: 5px;
	  	border-color: white;
		background-color: #e5e6eb;

		p.large-icon{
			font-size: 90px;
			color:white;
			text-align: center;
		}
	}
}
.right{
	height: 100px;
}
.icon-image{
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	margin-left: 5%;
	margin-top: 10px;
	img{
		vertical-align: middle;
		border-radius: 50%;
	}
}
.social-details{
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	margin-left: 5%;
	p.social-title{
		color: #2f2f2f;
		font-size: 20px;
		margin-top: 0px;
		margin-left: 0px;
		margin-bottom: 5px;
	}
	p.social-content{
		color: #2f2f2f;
		font-size: 10px;
	}
	a.Github{
		border-radius: 3px;
		background-color: #00cc00;
		padding: 5px;
		color: white;
		font-size: 10px;		
	}
	a.Linkedin{
		border-radius: 3px;
		border-width: 1px;
		border-color: #004d99;
		border-style: solid;
		padding: 5px;
		color: #004d99;
		font-size: 10px;		
	}	
	a.Leetcode{
		border-radius: 30px;
		background-color: orange;
		color: white;
		padding-top: 3px;
		padding-bottom: 3px;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 10px;		
		font-weight: bold;
	}
	a.Coursera{
		border-radius: 5px;
		background-color: #3399ff;
		color: white;
		padding: 5px;
		font-size: 10px;		
		font-weight: bold;
	}	
	a.Zhihu{
		font-size: 10px;		
	}
}