// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$red: #cc2310;
$green: #20b5b4;
$yellow: #e3b505;
$navy: #182a3d;
$link_color: #508ccc;

$white :#ffffff;
$gray :#999999;
$gray2 :#DFDFDF;
$dark-gray :#2f2f2f;

p {font-size: 16px;}
.margin {margin-bottom: 20px;}
.glyphicon{
	margin: 5px;
}
.bg-1 { 
background-color: $white; /* White */
color: $dark-gray;
}
.bg-2 { 
background-color: #474e5d; /* Dark Blue */
color: $white;
}
.bg-3 { 
background-color: #e5e6eb; /* Gray */
color: #555555;
}
.bg-4 { 
background-color: $dark-gray; /* Black Gray */
color: $white;
}
.contents{
	border-radius: 3px;
	margin:5px;
	padding: 5px;
}
.title{
	height:400px;
	background-color: $white;
	margin-top: 40px;
	padding: 0;
	.background-image{
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		background-image: image-url("title-background.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		height:60%;
		width:100%;
		padding: 0;
		margin: 0;
	}

	h4{
	  position: absolute;
	  left: 250px;
	  top: 275px;
	  font-size: 28px;
	}

	.my-name{
	  height:150px;
	  width: 150px;
	  position: absolute;
	  left: 90px;
	  top: 220px;
  	border-radius: 3px;
	  border-width: 10px;
	  border-color: white;
	  border-style: solid;
	  background-color: $gray2;
	  p{
	  	font-size: 90px;
	  	margin-top: 0px;
	  	color: white;
	  }
	}
	.email{
	  position: absolute;
	  left: 220px;
	  top: 300px;
	  width: 300px;
	  text-align: left;
	  p{
	  	color:$gray;
	  	font-size: 18px;
	  }
	}
	.telephone{
	  position: absolute;
	  left: 220px;
	  top: 330px;	
	  width: 300px;	
	  text-align: left;
	  p{
	  	color:$gray;
	  	font-size: 18px;
	  }
	}
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.left{
	height: 520px;
	padding-top: 20px;
	.application{
		display: inline-block;
		height: 240px;
		width: 33%;
		border-style: solid;
		border-radius: 3px;
	  border-width: 5px;
	  border-color: white;
		background-color: $gray2;

		p.large-icon{
			font-size: 90px;
			color:white;
			text-align: center;
		}

		h3.discription{
			display: none;
		}
	}
	.application:hover{
		background-color: $dark-gray;
		p.large-icon{
			display: none;
		}
		h3.discription{
			display: inline-block;
		  	color:$white;
		  	margin-top: 20px;
		  	margin-bottom: 20px;
		  	font-size: 18px;
		  	letter-spacing: 2px;	
		  	font-weight: normal;	
		}		
	}	
}
.right{
	height: 100px;
}
.icon-image{
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	margin-left: 5%;
	margin-top: 10px;
	img{
		vertical-align: middle;
		border-radius: 50%;
	}
}
.social-details{
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	margin-left: 5%;
	p.social-title{
		color: $dark-gray;
		font-size: 20px;
		margin-top: 0px;
		margin-left: 0px;
		margin-bottom: 5px;
	}
	p.social-content{
		color: $dark-gray;
		font-size: 10px;
	}
	a.Github{
		border-radius: 3px;
		background-color: #00cc00;
		padding: 5px;
		color: white;
		font-size: 10px;		
	}
	a.Linkedin{
		border-radius: 3px;
		border-width: 1px;
		border-color: #004d99;
		border-style: solid;
		padding: 5px;
		color: #004d99;
		font-size: 10px;		
	}	
	a.Leetcode{
		border-radius: 30px;
		background-color: orange;
		color: white;
		padding-top: 3px;
		padding-bottom: 3px;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 10px;		
		font-weight: bold;
	}
	a.Coursera{
		border-radius: 5px;
		background-color: #3399ff;
		color: white;
		padding: 5px;
		font-size: 10px;		
		font-weight: bold;
	}	
	a.Zhihu{
		font-size: 10px;		
	}
}
